* {
    box-sizing: border-box;
    font-family: Fjalla One;
    margin: 0;
    padding: 0;
}

* {
    transition: color .75s;
}

html {
    font-size: 10px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

/* navigation */

nav {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    float: left;
    height: 100vh;
    text-transform: uppercase;
    width: 30rem;
}

nav p {
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.wideBorder {
    width: 30rem;
}

.wideBorder:last-child {
    bottom: 0;
    left: 0;
    position: absolute;
}

hr {
    background-color: white;
    height: 0.7rem;
    margin: auto;
    width: 25rem;
}

h1 {
    font-size: 8rem;
    letter-spacing: 0.3rem;
    line-height: 15rem;
    text-align: center;
}

h2 {
    font-size: 3.2rem;
    text-align: center;
}

ul {
    font-size: 2.8rem;
    list-style-type: none;
    margin: 3rem 0rem 3rem 0rem;
    padding-left: 2.5rem;
}

li {
    cursor: pointer;
}

li:hover {
    color: #E68F0E;
}

#openingHours {
    font-size: 5rem;
    letter-spacing: -1px;
    text-align: center;
}

#address {
    font-size: 3rem;
    margin-top: 1rem;
}

#phone {
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
}

/* right div */

.right {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url('wallpaper.jpeg');
    background-size: cover;
    float: right;
    height: 100vh;
    width: 100vw;
}

